@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.bg-custom-gradient {
  background: linear-gradient(to bottom, #0f172a 0%, #1e293b 70%, #1e293b 100%);
}

.text-gradient {
  background: linear-gradient(
    90deg,
    #0020fd 0%,
    #3f86ff 40%,
    #5b8cff 60%,
    #a0c4ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s ease;
}

.text-gradient:hover {
  background-position: right;
}

@theme {
  --color-darkblue-500: #0020fd;
  --color-bgblue-500: #171717;
  --color-lightgrey-500: #242426;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css or similar */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #171717;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(
    100,
    116,
    139,
    0.5
  ); /* Tailwind slate-500 opacity-50 */
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
